/*
 * Cornix ZMK keymap
 * Scope: Base / Number / Symbol / Navigation / Game / Function-Item / System
 *
 * Layer layout:
 * 0 BASE
 * 1 NUM
 * 2 SYM
 * 3 NAV
 * 4 GAME
 * 5 FN_ITEM
 * 6 SYS
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 60
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>

#define HM_TAPPING_TERM       200
#define HM_TAPPING_TERM_FAST  180
#define HM_TAPPING_REPEAT     150
#define HM_PRIOR_IDLE         70
#define SEL_TAPPING_TERM    130
#define SEL_QUICK_TAP       120
#define SEL_TD_TERM         180

#define BASE    0
#define NUM     1
#define SYM     2
#define NAV     3
#define GAME    4
#define FN_ITEM 5
#define SYS     6
#define SEL     7

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1

/ {
    macros {
        m_coloncolon: m_coloncolon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp COLON>, <&macro_tap &kp COLON>;
        };

        m_arrow: m_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp MINUS>, <&macro_tap &kp GT>;
        };

        m_undo: m_undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp Z>, <&macro_release &kp LCTRL>;
        };

        m_cut: m_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp X>, <&macro_release &kp LCTRL>;
        };

        m_copy: m_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp C>, <&macro_release &kp LCTRL>;
        };

        m_paste: m_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp V>, <&macro_release &kp LCTRL>;
        };

        m_save: m_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp S>, <&macro_release &kp LCTRL>;
        };

        m_redo: m_redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_press &kp LSHFT>, <&macro_tap &kp Z>, <&macro_release &kp LSHFT>, <&macro_release &kp LCTRL>;
        };

        m_find: m_find {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp F>, <&macro_release &kp LCTRL>;
        };

        m_input_switch: m_input_switch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL>, <&macro_tap &kp SPACE>, <&macro_release &kp LCTRL>;
        };

        m_view_base: m_view_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F13>;
        };

        m_view_num: m_view_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F14>;
        };

        m_view_sym: m_view_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F15>;
        };

        m_view_nav: m_view_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F16>;
        };

        m_view_fn: m_view_fn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F17>;
        };

        m_view_game: m_view_game {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F18>;
        };

        m_view_sys: m_view_sys {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp F19>;
        };

        m_to_base: m_to_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to BASE>, <&kp F13>;
        };

        m_to_num: m_to_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to NUM>, <&kp F14>;
        };

        m_to_sym: m_to_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to SYM>, <&kp F15>;
        };

        m_to_nav: m_to_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to NAV>, <&kp F16>;
        };

        m_to_game: m_to_game {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to GAME>, <&kp F18>;
        };

        m_to_sys: m_to_sys {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to SYS>, <&kp F19>;
        };

        m_mo_fn_from_nav: m_mo_fn_from_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &mo FN_ITEM>,
                <&macro_tap &kp F17>,
                <&macro_pause_for_release>,
                <&macro_release &mo FN_ITEM>,
                <&macro_tap &kp F16>;
        };

    };

    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_REPEAT>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_REPEAT>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        ht_mfn: hold_tap_function {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_REPEAT>;

            bindings = <&m_mo_fn_from_nav>,<&kp>;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <HM_TAPPING_REPEAT>;

            bindings = <&kp>,<&kp>;
        };

        sel_ht: selector_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "hold-preferred";
            tapping-term-ms = <SEL_TAPPING_TERM>;
            quick-tap-ms = <SEL_QUICK_TAP>;

            bindings = <&mo>,<&kp>;
        };

        ime_ht: ime_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "tap-preferred";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <SEL_QUICK_TAP>;

            bindings = <&m_input_switch>, <&kp>;
        };

    };



    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
                &kp ESC       &kp Q          &kp W           &kp E           &kp R              &kp T                               &kp Y      &kp U          &kp I           &kp O          &kp P              &kp QUESTION
                &lt NAV CAPS  &hm_l LCTRL A  &hm_l LALT S    &hm_l LSHFT D   &hm_l LGUI F       &kp G                               &kp H      &hm_r RGUI J   &hm_r RSHFT K   &hm_r RALT L   &hm_r RCTRL COLON    &kp MINUS
                &kp LSHFT     &kp Z          &kp X           &kp C           &kp V              &kp B       &kp C_MUTE  &mkp MCLK   &kp N      &kp M          &kp COMMA       &kp DOT        &kp FSLH           &kp TILDE
                &kp LCTRL     &kp LGUI       &kp LALT        &mo FN_ITEM     &sel_ht SEL TAB    &kp SPACE                           &kp BSPC   &ime_ht 0 RET          &kp DEL         &kp LANG1      &kp LANG2          &kp DEL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        number_layer {
            display-name = "Number";
            bindings = <
                &kp ESC    &none      &none      &none      &none             &none                             &none     &none       &none      &kp N7  &kp N8   &kp N9
                &trans     &kp EQUAL  &kp PLUS   &kp MINUS  &kp ASTRK         &kp FSLH                          &kp HOME  &kp PG_DN   &kp PG_UP  &kp N4  &kp N5   &kp N6
                &kp LSHFT  &kp DOT    &kp COMMA  &kp COLON  &kp SEMI          &kp UNDER  &kp C_MUTE  &mkp MCLK  &kp END   &kp DEL     &kp BSPC   &kp N1  &kp N2   &kp N3
                &kp LCTRL  &kp LGUI   &kp LALT   &trans     &trans   &trans                         &trans  &trans     &trans    &kp N0  &kp DOT  &kp PLUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            display-name = "Symbol";
            bindings = <
                &kp ESC    &kp EXCL   &kp AT     &kp HASH   &kp DLLR  &kp PRCNT                          &kp CARET &kp LT      &kp GT    &kp LBKT       &kp RBKT   &kp DEL
                &trans     &kp AMPS   &kp PIPE   &kp EQUAL  &kp PLUS  &kp MINUS                          &kp TILDE &kp LPAR    &kp RPAR  &kp LBRC       &kp RBRC   &kp RET
                &kp LSHFT  &kp ASTRK  &kp FSLH   &kp UNDER  &kp BSLH  &kp GRAVE  &kp C_MUTE  &mkp MCLK  &kp MINUS &kp SQT     &kp DQT   &kp SEMI       &kp COLON  &kp RSHFT
                &kp LCTRL  &kp LGUI   &kp LALT   &trans     &trans    &trans                          &trans  &trans     &trans   &m_coloncolon  &m_arrow   &kp UNDER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        navigation_layer {
            display-name = "Navi";
            bindings = <

                &kp ESC    &none            &none            &none      &none            &none                             &m_redo        &kp HOME         &kp PG_DN        &kp PG_UP      &kp END           &kp DEL
                &trans     &ht LCTRL LC(A)  &ht LALT LC(S)   &kp LSHFT  &ht LGUI LC(F)   &none                             &kp LEFT       &kp DOWN         &kp UP           &kp RIGHT      &kp HOME          &kp END
                &kp LSHFT  &m_undo          &m_cut           &m_copy    &m_paste         &none     &kp C_MUTE  &mkp MCLK   &none          &msc SCRL_LEFT   &msc SCRL_DOWN   &msc SCRL_UP   &msc SCRL_RIGHT   &kp RET
                &kp LCTRL  &kp LGUI         &kp LALT         &trans     &trans           &trans                            &trans         &trans           &trans           &m_find        &kp F3            &kp LS(F3)
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        game_base_layer {
            display-name = "Game";
            bindings = <
                &kp ESC    &kp Q     &kp W     &kp E        &kp R    &kp T                             &kp Y     &kp U    &kp I            &kp O      &kp P      &kp QUESTION
                &kp LCTRL  &kp A     &kp S     &kp D        &kp F    &kp G                             &kp H     &kp J    &kp K            &kp L      &kp SEMI   &kp MINUS
                &kp LSHFT  &kp Z     &kp X     &kp C        &kp V    &kp B      &kp C_MUTE  &mkp MCLK  &kp N     &kp M    &kp COMMA        &kp DOT    &kp FSLH   &kp SQT
                &kp LCTRL  &kp LGUI  &kp LALT  &mo FN_ITEM  &kp TAB  &kp SPACE                         &kp BSPC  &kp RET  &kp LC(SPACE)    &kp LANG1  &kp LANG2  &to BASE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        fn_item_layer {
            display-name = "FnItem";
            bindings = <
                &kp ESC    &kp N1   &kp N2    &kp N3  &kp N4   &kp N5                            &none    &none    &none   &kp F7   &kp F8   &kp F9
                &kp LCTRL  &kp K    &kp L     &kp M   &kp H    &kp N6                            &none    &none    &none   &kp F4   &kp F5   &kp F6
                &kp LSHFT  &kp Z    &kp X     &kp C   &kp V    &kp B      &kp C_MUTE  &mkp MCLK  &none    &none    &none   &kp F1   &kp F2   &kp F3
                &kp LCTRL  &kp LGUI &kp LALT  &trans  &kp TAB  &kp SPACE                         &kp BSPC &kp RET  &none   &kp F10  &kp F11  &kp F12
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        system_layer {
            display-name = "System";
            bindings = <
                &none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &out OUT_USB     &bt BT_CLR                         &none  &none  &none  &none  &none       &none
                &none        &none         &none         &ind_bat      &ind_con         &kp F20                            &none  &none  &none  &none  &none       &none
                &none        &none         &none         &none         &none            &none       &kp C_MUTE  &mkp MCLK  &none  &none  &none  &none  &none       &none
                &bootloader  &sys_reset    &none         &none         &sel_ht SEL TAB  &kp SPACE                          &kp BSPC  &kp RET   &kp DEL   &none  &sys_reset  &bootloader
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        sel_layer {
            display-name = "Selector";
            bindings = <
                &none   &none   &none   &none   &none   &none                           &none        &none     &none     &none     &none   &none
                &none   &none   &none   &none   &none   &none                           &none        &to NUM   &to SYM   &to NAV   &none   &none
                &none   &none   &none   &none   &none   &none   &kp C_MUTE  &mkp MCLK   &none        &to GAME  &to SYS   &none     &none   &none
                &none   &none   &none   &none   &none   &none                           &to BASE     &none     &none     &none     &none   &none

            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
